<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
</head>
<body>
    <form action="/show_map" method="post">
        <label for="departure_lat">Departure Latitude:</label>
        <input type="text" id="departure_lat" name="departure_lat"><br><br>
        <label for="departure_long">Departure Longitude:</label>
        <input type="text" id="departure_long" name="departure_long"><br><br>
        <label for="destination_lat">Destination Latitude:</label>
        <input type="text" id="destination_lat" name="destination_lat"><br><br>
        <label for="destination_long">Destination Longitude:</label>
        <input type="text" id="destination_long" name="destination_long"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
